{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "$": "readonly"
  },
  "plugins": ["prettier"],
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error",
    "no-const-assign": "error",
    "no-undef": "error",
    "no-unused-vars": "warn",
    "no-this-before-super": "warn",
    "no-unreachable": "warn",
    "constructor-super": "warn",
    "valid-typeof": "warn"
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ]
}