@import "size";
@import "color";

$pageHeight: calc(100% - #{$s-header});

#content {
  height: calc(100% - #{$s-header});
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: $c-bg;
}

.case {
  height: 100%;
  overflow: hidden;
  margin-bottom: 15px;
  background: #fff;

  &:last-child {
    margin-bottom: 0;
  }
}

.recycler, .description {
  width: 50%;
  box-sizing: border-box;
}

.recycler {
  height: 100%;
  padding-right: 5%;
}

.description {
  padding: 0 10% 0 5%;
}

@media only screen and (max-width: 770px) {
  .case {
    height: 120%;
    padding-top: 20px;
    flex-direction: column-reverse;
  }

  .recycler, .description {
    padding: 0;
    width: 70%;
  }

  .recycler {
    justify-content: center;
  }

  .recycler-scroller {
    width: 100%!important;
  }
}
