@mixin justify($align) {
  align-items: center;
  justify-content: $align;
}

.flex-box {
  display: flex;
}

.flex-center-center {
  @include justify(center)
}

.flex-between-center {
  @include justify(space-between);
}

.flex-end-center {
  @include justify(flex-end);
}

.flex-start-center {
  @include justify(flex-start);
}
