@import "color";

.recycler-container {
  counter-reset: recycler;
}

.recycler-item {
  box-sizing: border-box;
  counter-increment: recycler;

  &::before {
    content: 'CSS Counter: 'counter(recycler);
    position: absolute;
    padding: 5px 10px;
    left: 0;
    top: 0;
    font-size: 12px;
    text-align: center;
    background: rgba(121, 255, 69, .4);
    border-bottom-right-radius: 5px;
  }

  &:last-child::before {
    content: 'Max: 'counter(recycler);
    background: rgba(255, 23, 54, .5);
  }
}

.num-recycler-item {
  font-size: 3vw;
  font-weight: bold;
  outline: 1px solid $c-border;
}
