<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,viewport-fit=cover">
  <title>recycler-view.js</title>
</head>
<body>

<header class="flex-box flex-between-center">
  <h1 class="title">RecyclerView</h1>
</header>

<div id="content">
  {{#> views/section id="normal" right=true}}
    <article>
      <h2>Normal Style</h2>
      <p>Normal style of recycler-view.Each item's height is 150px.</p>
      <p>'CSS Counter: x' means this item is the xth item in the scroller container.So the max value of x means there are x items in the scroller container totally.</p>
      <p>For example, if the max value of x is 14.That means there are 14 items in scroller container totally.</p>
      <p><b>Specially,the red one represent the last item in the scroller container.</b></p>
      <br>
    </article>
  {{/ views/section}}

  {{#> views/section id="multicolumns"}}
    <article>
      <h2>Multi Columns Style</h2>
      <p>Multi columns style of recycler-view.Each item's height is 150px and width is '33.3%'.</p>
      <p>'CSS Counter: x' means this item is the xth item in the scroller container.So the max value of x means there are x items in the scroller container totally.</p>
      <p>For example, if the max value of x is 14.That means there are 14 items in scroller container totally.</p>
      <p><b>Specially,the red one represent the last item in the scroller container.</b></p>
      <br>
    </article>
  {{/ views/section}}

  {{#> views/section id="waterfall" right=true}}
    <article>
      <h2>Waterfall</h2>
      <p>Waterfall implementation.Each item's width is '50%' and height is among 100px ~ 400px.</p>
      <p>'CSS Counter: x' means this item is the xth item in the scroller container.So the max value of x means there are x items in the scroller container totally.</p>
      <p>For example, if the max value of x is 14.That means there are 14 items in scroller container totally.</p>
      <p><b>Specially,the red one represent the last item in the scroller container.</b></p>
      <br>
    </article>
  {{/ views/section}}
</div>

</body>
</html>