<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,viewport-fit=cover">
  <title>recycler-view.js</title>
</head>
<body>

<header class="flex-box flex-between-center">
  <h1 class="title">RecyclerView</h1>
</header>

<div id="content">
  {{#> views/section id="normal" right=true}}
    <article>
      <h2>基本样式</h2>
      <p>recycler-view 的最基本样式，每个元素的高为 100px，宽为 100%</p>
      <p>No.x 代表了这个元素在容器的子元素中排在第几位，是由 css counter 计算得出。</p>
      <p>也就是说，x 的最大值代表了容器的子元素个数（红底即为容器的最后一个子元素，也即最大值）</p>
      <p>举例来说，假如看到 No.10，代表这是容器子元素的第 10 个，如果 No.10 为红底，则说明容器共有 10 个子元素</p>
      <br>
    </article>
  {{/ views/section}}

  {{#> views/section id="multicolumns"}}
    <article>
      <h2>多列样式</h2>
      <p>recycler-view 多列样式，每个元素高为 150px，宽为 33.3%。</p>
      <br>
    </article>
  {{/ views/section}}

  {{#> views/section id="waterfall" right=true}}
    <article>
      <h2>瀑布流</h2>
      <p>recycler-view 瀑布流实现，每个元素宽为 50%，高在 100px ~ 400px 之间随机。</p>
      <br>
    </article>
  {{/ views/section}}

  {{#> views/section id="hrwaterfall"}}
    <article>
      <h2>横向瀑布流</h2>
      <p>recycler-view 横向瀑布流实现。</p>
      <p>每个元素高度为 150px。每行随机分配 1 ~ 3 个元素，根据每行元素个数不同，每个元素的宽也相应随机。</p>
      <br>
    </article>
  {{/ views/section}}
</div>

</body>
</html>